body {
    background: #fff;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 100%;
    transform: scale(1.1);
    transform-origin: 0 0;
}

.navbar {
    /* background-color: #333; */
    height: 63px;
    width: 100%;
    margin: none;
    background-color: rgb(59, 53, 53);
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.insta {
    position: fixed;
    right: 5px;
    font-size: 40px;
    border-radius: 50%;
    top: 0;
    border: 1px solid #333;
    color: #fff;
    background: rgb(70, 70, 70);
    padding: 6px 10px;
    cursor: pointer;
}

.parent {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parent .popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -75%;
    left: 50%;
    margin-left: -80px;
}

.parent .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.colors {
    background: #464545;
    font-size: 18px;
    margin-top: 12rem;
    display: inline-block;
    padding: 1px;
}

.NoColors {
    background: #464545;
    font-size: 18px;
    margin-top: 2rem;
    display: inline-block;
    padding: 1px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.imgSrcs {
    width: 50%;
    height: auto;
}

.thStyles {
    color: #fff;
}

.footer {
    background: rgb(88, 88, 88);
    width: 105%;
    height: 200px;
}

.footer p {
    padding: 20px;
    font-size: 16px;
    color: rgb(230, 230, 230);
}

.redColor {
    background: red;
    color: red;
    height: 200px;
    margin: 0px;
}

@media(min-width: 1641px) {
    .content {
        display: flex;
        width: 100%;
        margin-right: 5rem;
        margin-left: 5rem;
    }
    .content p {
        font-size: 36px;
    }
    .content h1 {
        font-size: 60px;
    }
    .words {
        display: inline-block;
        width: 50%;
    }
    .imgs img {
        display: inline-block;
        width: 70%;
    }
}

@media(max-width: 1640px) {
    .content {
        position: relative;
        display: flex;
        width: 100%;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        flex-wrap: wrap;
    }
    .content p {
        font-size: 36px;
    }
    .content h1 {
        font-size: 60px;
    }
    .words {
        display: inline-block;
        width: 80%;
    }
    .imgs img {
        display: inline-block;
        width: 80%;
    }
}