    @media only screen and (min-width: 800px) {
        body {
            font-family: SegoeUI, sans-serif;
            background: rgb(34, 34, 34);
            color: #fff;
        }
        /*@TODO: MAKE SURE TO UPDATE BOTH MOBILE AND DESKTOP CSS WHEN MAKING A UNIVERSAL UPDATE!!!!!!!!! */
        .parent {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .parent .popup {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: -75%;
            left: 50%;
            margin-left: -80px;
        }
        .parent .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
        .colors {
            padding: 2px;
            background: rgb(17, 17, 17);
            font-size: 22px;
            margin-top: 0rem;
            display: inline-block;
            width: 100%;
            padding: 1px;
        }
        .NoColors {
            background: #464545;
            font-size: 18px;
            margin-top: 2rem;
            display: inline-block;
            padding: 1px;
            width: 100%;
        }
        .imgSrcs {
            width: 50%;
            height: auto;
        }
        .thStyles {
            color: #fff;
        }
        .mySlides {
            display: none;
        }
        img {
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .prev,
            .next,
            .text {
                font-size: 11px
            }
        }
        .redDiv {
            text-align: center;
            font-size: 2rem;
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
        }
        .columnStyle {
            -webkit-column-count: 2;
            column-count: 2;
        }
        .sponsors {
            text-align: center;
            padding: 5px;
            font-size: 30px;
        }
        .grid-container {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: auto auto auto;
            padding: 15px;
            margin-right: 15px;
            margin-left: 15px;
        }
        .grid-item {
            /* background-color: rgba(255, 255, 255, 0.8); */
            /* border: 1px solid rgba(0, 0, 0, 0.8); */
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
        .linkSpo:hover {
            opacity: 0.85;
        }
        .div-container {
            margin: 0px;
        }
    }
    /*  Smaller Size  */
    /*  Smaller Size  */
    /*  Smaller Size  */
    /*  Smaller Size  */
    
    @media only screen and (max-width: 799px) {
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background: rgb(34, 34, 34);
            color: #fff;
            font-size: smaller;
        }
        .colors {
            padding: 2px;
            background: rgb(17, 17, 17);
            font-size: 22px;
            margin-top: 0rem;
            margin-bottom: 1rem;
            display: inline-block;
            width: 100%;
            padding: 1px;
        }
        .NoColors {
            background: #464545;
            font-size: 18px;
            margin-top: 2rem;
            display: inline-block;
            padding: 1px;
            width: 100%;
        }
        .imgSrcs {
            width: 50%;
            height: auto;
        }
        .thStyles {
            color: #fff;
        }
        .mySlides {
            display: none;
        }
        img {
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
        .redDiv {
            text-align: center;
            font-size: 2rem;
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
        }
        .columnStyle {
            -webkit-column-count: 2;
            column-count: 2;
        }
        .sponsors {
            text-align: center;
            padding: 5px;
            font-size: 30px;
        }
        .grid-container {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: auto auto auto;
            padding: 15px;
            margin-right: 15px;
            margin-left: 15px;
        }
        .grid-item {
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
        .linkSpo:hover {
            opacity: 0.85;
        }
        .div-container {
            margin: 0px;
        }
        @media only screen and (max-width: 495px) {
            img {
                display: none;
            }
            .banner img {
                display: inline-block !important;
            }
            .sponsorsTags {
                display: none;
            }
            .break {
                display: none;
            }
            @media only screen and (max-width: 450px) {
                .following {
                    display: none;
                }
            }
        }
    }
    
    .alert {
        background: rgb(45, 45, 45);
        padding: 7px 9px;
        border: none;
        border-radius: 10px;
        width: 41%;
        margin-right: auto;
        margin-left: auto;
        color: white;
        cursor: pointer;
    }
    
    .alertCovid {
        color: white;
        text-decoration: none;
    }
    
    .alert:hover {
        opacity: 0.8;
    }
    
    .wholeScreen {
        height: 100vh;
        width: 100vw;
    }