<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0f23c84102.js"></script>
    <link rel="stylesheet" href="/css/Bot_CSS/robots.css" />
    <title>4541: 2017 Bot</title>
</head>

<body>
    <nav class="navbar">
        <div class="topnav">
            <a href="/index.html">Home</a>
            <a href="/about.html">About Us</a>
            <a href="/outreach.html">Outreach</a>
            <a href="/sponsors.html">Sponsors</a>
            <a href="/media.html">Media</a>
            <div class="dropdown">
                <button onclick="bot()" class="dropbtn">Meet Our Robots
                      <i class="fa fa-caret-down"></i>
                    </button>
                <div class="dropdown-content">
                    <a href="2019.html">2019</a>
                    <a href="2018.html">2018</a>
                    <a href="2017.html">2017</a>
                </div>
            </div>
        </div>
        <button class="insta" onclick="social()"><i class="fab fa-instagram"></i></button>
    </nav>
    <br>
    <br>
    <br>
    <h1>2017 FIRST Steamworks</h1>


    <script>
        function bot() {
            window.location.replace('/ourBots.html');
        }
    </script>
</body>

</html>